.App {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  background-color: rgb(203, 199, 199);

  .hello{
    transition: color 0.6s ease-in-out;
    font-size: 50px;
    font-weight: 900;
    color: green;
  }
}

